.rect{
    background-color: steelblue;
    outline: 1px black;
    height: 20px;
    width: 20px;
    border-radius: 5px;
    margin: 5px;
    transition: height 320ms cubic-bezier(.2,.9,.2,1),
                box-shadow 260ms ease, background 200ms ease;
}